{% load i18n %}
<h2>{% trans "Data" %}</h2>
<form action="{% url lfs_manufacturer_update_manufacturer_data manufacturer.pk %}"
      method="post">

    {% include "manage/lfs_form.html" %}
    
    <div class="buttons">
        <input type="submit"
               value="{% trans "Save manufacturer" %}"
               class="ajax-save-button button" />
    </div>
</form>